@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
   height: 100%;
    background-color: #152733;
    overflow-x: hidden;
}


.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
    
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;    
}

.form-content h3 {
    color: #f6f6f6;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #f6f6f6;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #f6f6f6;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email],.form-content input[type=date], .form-content select {
  width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #f6f6f6;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 0.5em;
}


.btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
   width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #f6f6f6;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}

input[type="text"]:disabled {

    color: white;
    background-color:#8D8D8D ;

  }

input[type="text"]:disabled::placeholder { 
    color: white;
  } 

/* #divAltaCliente,#divAltaPersona, #divAltaReserva, #divAltaTipoHabitacion, #divModificarReservas, #divAltaHabitacion, #divAltaServicio, #divListarReservasHabitacion, #divListarEntreDosFechas, #divModificarReservas {
    display: none;
}

#PerCreditCard, #PerPosion, #PerSalary, #PerSocialSecurity{
    display: none;
} */

nav{
    background-color: #292c35;
}

nav div a {
    color: #ece6e6;
}

nav div a:hover {
    color: #b2d1e7;
    transition: 1s;
}

#menuSuperior a {
    color: #5aaee9;
}
#menuSuperior a:hover {
    color: #048beb;
    transition: 1s;
}


table{
    margin: 5em;
}

table caption {
    color: #ece6e6;
    margin: 1em;
    font-size: 2em;
    transition: 1s;
}

table, tr, td, th{
    border: 1px solid white;
    color: rgb(238, 227, 227);
}

td, th{
    padding: 10px;
}

th{
    background-color: #292c35;
}

/* tr, td {
     padding-top: 23em;
} 
*/